In [23]:
# spacetrack
from spacetrack import SpaceTrackClient
import spacetrack.operators as op

# others
import numpy as np
import pandas as pd
import datetime as dt
import json

In [24]:
from dotenv import load_dotenv
import os

st_id = os.getenv("ST_ID")
st_pw = os.getenv("ST_PW")

In [25]:
st = SpaceTrackClient( st_id, st_pw )

In [26]:
drange = op.inclusive_range(dt.datetime(2024, 3, 1), dt.datetime(2024, 3, 30))

In [27]:
norad_list = json.load(open("norad-list.json"))["norad_ids"]

In [28]:
fileName  = 'raw-sat-data.csv'

# get data
data = st.tle(norad_cat_id=norad_list, orderby='epoch desc', format='json', epoch=drange)

In [29]:
# convert to dataframe
data_json = json.loads(data)
data_df = pd.DataFrame(data_json)

In [30]:
# save to csv
data_df.to_csv(fileName, mode='a', index=False)

In [31]:
# pick only TS_KE_ELEMENTS
from utils import TS_KE_ELEMENTS

filtered_df = data_df[TS_KE_ELEMENTS]

In [32]:
filtered_df.to_hdf('sat-data.h5',mode='w', key='data')

In [33]:
filtered_df

,NORAD_CAT_ID,EPOCH,SEMIMAJOR_AXIS,ECCENTRICITY,INCLINATION,RA_OF_ASC_NODE,ARG_OF_PERICENTER,MEAN_ANOMALY
0,41469,2024-03-29 23:14:42,42162.865,0.0005158,3.2631,122.0675,309.1062,234.7614
1,22787,2024-03-29 22:56:42,42164.272,0.0005063,11.6348,7.7743,18.0968,174.8006
2,22787,2024-03-29 22:56:42,42164.272,0.0005063,11.6348,7.7743,18.0968,174.8006
3,41469,2024-03-29 21:49:27,42162.856,0.0005158,3.263,122.0702,309.1057,213.3868
4,38704,2024-03-29 21:39:33,41632.950,0.0210129,2.2449,62.3939,214.7218,144.2019
...,...,...,...,...,...,...,...,...
1551,33436,2024-03-01 01:37:31,42165.891,0.0001378,0.0211,124.6008,281.0132,157.3407
1552,33373,2024-03-01 01:08:34,42164.289,0.0001905,0.007,141.2321,196.4168,116.7912
1553,44457,2024-03-01 00:49:42,42164.775,0.0000261,0.0133,127.4057,303.8112,112.5159
1554,22787,2024-03-01 00:41:42,42163.703,0.0003622,11.6257,7.9197,345.0296,205.4834
1555,22787,2024-03-01 00:41:42,42163.703,0.0003622,11.6257,7.9197,345.0296,205.4834