In [1]:
# spacetrack
from spacetrack import SpaceTrackClient
import spacetrack.operators as op

# others
import numpy as np
import pandas as pd
import datetime as dt
import json

In [2]:
from dotenv import load_dotenv
import os

st_id = os.getenv("ST_ID")
st_pw = os.getenv("ST_PW")

In [3]:
st = SpaceTrackClient( st_id, st_pw )

In [4]:
drange = op.inclusive_range(dt.datetime(2024, 1, 1), dt.datetime(2024, 3, 30))

In [5]:
norad_list = json.load(open("norad-list.json"))["norad_ids"]

In [6]:
fileName  = 'raw-sat-data.csv'

# get data
data = st.tle(norad_cat_id=norad_list, orderby='epoch desc', format='json', epoch=drange)

In [7]:
# convert to dataframe
data_json = json.loads(data)
data_df = pd.DataFrame(data_json)

In [8]:
# save to csv
data_df.to_csv(fileName, mode='a', index=False)

In [9]:
# pick only TS_KE_ELEMENTS
from utils import TS_KE_ELEMENTS

filtered_df = data_df[TS_KE_ELEMENTS]

In [10]:
filtered_df.to_hdf('sat-data.h5',mode='w', key='data')

In [11]:
filtered_df

,NORAD_CAT_ID,EPOCH,SEMIMAJOR_AXIS,ECCENTRICITY,INCLINATION,RA_OF_ASC_NODE,ARG_OF_PERICENTER,MEAN_ANOMALY
0,41469,2024-03-29 23:14:42,42162.865,0.0005158,3.2631,122.0675,309.1062,234.7614
1,22787,2024-03-29 22:56:42,42164.272,0.0005063,11.6348,7.7743,18.0968,174.8006
2,22787,2024-03-29 22:56:42,42164.272,0.0005063,11.6348,7.7743,18.0968,174.8006
3,41469,2024-03-29 21:49:27,42162.856,0.0005158,3.263,122.0702,309.1057,213.3868
4,38704,2024-03-29 21:39:33,41632.950,0.0210129,2.2449,62.3939,214.7218,144.2019
...,...,...,...,...,...,...,...,...
5574,44479,2024-01-01 04:10:42,42163.982,0.0001534,0.0196,29.8835,262.5128,247.6115
5575,22787,2024-01-01 04:02:42,42164.504,0.0003773,11.6084,8.2266,273.8876,267.586
5576,22988,2024-01-01 02:59:17,42163.851,0.000334,16.2451,37.2131,254.7122,123.1842
5577,38699,2024-01-01 01:20:33,42002.568,0.0098973,1.4331,334.06,343.2008,183.0781
5578,38699,2024-01-01 01:20:33,42002.568,0.0098973,1.4331,334.06,343.2008,183.0781